<span *ngIf="detail && detail.group">
    <h2>{{detail.group.name}}</h2>

    <p><button type="submit">Subscribe</button></p>

    <p>{{detail.group.description}}</p>
  
    <h4>Managers</h4>
    <ul>
      <li *ngFor="let manager of detail.activeManagers">
        <a routerLink="/group/{{detail.group.uuid}}/manager/detail/{{manager.user_uuid}}">
          <span *ngIf="manager.alias">{{manager.alias}}</span>
        </a>
      </li>
    </ul>
  
    <h4>Members</h4>
    <ul>
      <li *ngFor="let member of detail.activeMembers">
        <a routerLink="/group/{{detail.group.uuid}}/member/detail/{{member.user_uuid}}">
          <span *ngIf="member.alias">{{member.alias}}</span>
        </a>
      </li>
    </ul>
  </span>
  
    
  
  