<span *ngIf="detail && detail.group">
    {{detail.group.name}} Details:<br/>
    <span>uuid: </span>{{detail.group.uuid}}<br/>
    <span>name: </span>{{detail.group.name}}<br/>
  
    <h4>Managers</h4>
    <ul>
      <li *ngFor="let manager of detail.activeManagers">
        <a routerLink="/group/{{detail.group.uuid}}/manager/detail/{{manager.user_uuid}}">
          <span *ngIf="manager.first_name">{{manager.first_name}}</span> &nbsp;
          <span *ngIf="manager.last_name">{{manager.last_name}}</span> &nbsp;
          <span *ngIf="manager.nick_name">({{manager.nick_name}})</span>
        </a>
      </li>
    </ul>
  
    <h4>Members</h4>
    <ul>
      <li *ngFor="let member of detail.activeMembers">
        <a routerLink="/group/{{detail.group.uuid}}/member/detail/{{member.user_uuid}}">
          <span *ngIf="member.first_name">{{member.first_name}}</span> &nbsp;
          <span *ngIf="member.last_name">{{member.last_name}}</span> &nbsp;
          <span *ngIf="member.nick_name">({{member.nick_name}})</span>
        </a>
      </li>
    </ul>
  </span>
  
    
  
  