<div id="page-bgtop">

    <div id="page-bgbtm">
      <div id="content">
    
        <h2>Change Password</h2>

        <app-global-messages [apiResponse]="apiResponse" ></app-global-messages>
    
        <div class="post">
            <div *ngIf="is_saved">
                <table>
                    <tr>
                        <td>Email (used as login):</td>
                        <td>{{username}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><a routerLink="/my/preferences">Back to Preferences</a></td>
                    </tr>
                </table>
            </div>
        
            <div *ngIf="!is_saved">
                <form (ngSubmit)="updatePassword()">
                    <table>
                        <tr>
                            <td>Email (used as login):</td>
                            <td>{{username}}</td>
                        </tr>
                        <tr>
                        <td>Old password:</td>
                        <td><input type="password" [(ngModel)]="oldPassword" name="oldPassword" /></td>
                        </tr>
                        <tr>
                            <td>New password:</td>
                            <td><input type="password" [(ngModel)]="newPassword" name="newPassword" /></td>
                        </tr>
                        <tr>
                        <td>Repeat password:</td>
                        <td><input type="password" [(ngModel)]="repeatPassword" name="repeatPassword" /></td>
                        </tr>
                        <tr style="text-align:center;">
                            <td colspan="2">
                                <button type="submit">Save</button> &nbsp;  
                                <a routerLink="/my/preferences">Cancel</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<div style="clear: both;">&nbsp;</div>
</div>
