<div id="page-bgtop">

  <div id="page-bgbtm">
      <div id="content">

          <h2>Public Groups</h2>
          <app-global-messages [apiResponse]="apiResponse" ></app-global-messages>

          <div class="post">

            <table>
              <tr *ngFor="let group of groups">
                <td style="vertical-align: top;">
                  <a routerLink="/group/detail/{{group.uuid}}">
                    {{group.name}}
                  </a>
                </td>
                <td style="vertical-align: top;">
                  {{group.description}}
                </td>
                <td style="vertical-align: top;">
                    <button (click)="subscribe(group.name, group.uuid, group.uuid_digest)" title="Subscribe to Group"><span class="icon_group_subscribe"></span></button>
                </td>
              </tr>
            </table>
        </div>
      </div>
  </div>

  <div style="clear: both;">&nbsp;</div>
</div>