<div id="page-bgtop">

  <div id="page-bgbtm">
    <div id="content">
  
      <h2>Public Users</h2>
  
      <div class="post">
        <table>
          <tr *ngFor="let user of users">
            <td>
              <a routerLink="/user/detail/{{user.user_uuid}}">
                {{user.alias}}
              </a>
            </td>
            <td>
              <span *ngIf="!user.is_friend">
                <button (click)="friend(user.alias, user.user_uuid, user.user_uuid_digest)" title="Add Friend"><span class="icon_person_add"></span></button>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div style="clear: both;">&nbsp;</div>
</div>