<div id="page-bgtop">

  <div id="page-bgbtm">
    <div id="content">
  
      <h2>Public Users</h2>
      <app-global-messages [apiResponse]="apiResponse" ></app-global-messages>
  
      <div class="post">
        <table>
          <tr *ngFor="let user of users">
            <td>
              <a routerLink="/user/detail/{{user.user_uuid}}">
                {{user.alias}}
              </a>
            </td>
            <td>
              <button (click)="friend(user.alias, user.user_uuid, user.user_uuid_digest)">Add Friend</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div style="clear: both;">&nbsp;</div>
</div>