<div id="page-bgtop">

    <app-sidebar></app-sidebar>

    <div id="page-bgbtm">
        <div id="content" >
            <h2>My Preferences</h2>
            <div *ngIf="preferences">

                <div class="post">

                    <h4>Account plan</h4>

                        Type: {{preferences.account_type}}<br/>

                    <!-- button type="submit">Buy Subscription</button -->
                </div>
                <div class="post">

                    <h4>Authentication data</h4>

                    Email: {{preferences.username}}<br/>

                    Alias: {{preferences.alias}}<br/>

                    Full Name: 
                    
                    <span *ngIf="!isEditName">{{preferences.formatted_name}} &nbsp; [<a (click)="makeNameEditable();">Edit</a>]</span>
                    <span *ngIf="isEditName">
                            <input type="text" [(ngModel)]="editableFirstName" name="editableFirstName" /> &nbsp;
                            <input type="text" [(ngModel)]="editableLastName" name="editableLastName" /> &nbsp;
                            <button type="submit" (click)="saveNames();">Save</button> &nbsp; 
                            <a (click)="makeNameUneditable();">Cancel</a>
                    </span>
                    <br/>

                    <br/>
                    <a routerLink="/my/changeEmail"><button type="submit">Change Email</button></a> &nbsp;
                    <a routerLink="/my/changePassword"><button type="submit">Change Password</button></a>
                </div>
                <div class="post">
                    <h4>Personal preferences</h4>

                    Private: 
                    <span *ngIf="!isEditPrivate">
                        <span *ngIf="preferences.is_private != null && preferences.is_private">Yes</span>
                        <span *ngIf="preferences.is_private != null && !preferences.is_private">No</span>
                        [<a (click)="makePrivateEditable();">Edit</a>]
                    </span>
                    <span *ngIf="isEditPrivate">
                        <input type="radio" [(ngModel)]="editablePrivate" name="isPrivateRadioButtons" [value]="true"/> Yes &nbsp;
                        <input type="radio" [(ngModel)]="editablePrivate" name="isPrivateRadioButtons" [value]="false"/> No &nbsp;
                        <button type="submit" (click)="savePrivate();">Save</button> &nbsp; 
                        <a (click)="makePrivateUneditable();">Cancel</a>
                    </span>
                    
                    <br/> 
                </div>
                <!-- div class="post">
                    <h4>Group account configuration</h4>

                    Group Name:[<a>Edit</a>]<br/>
                </div -->
            </div>

        </div>
    </div>

  <div style="clear: both;">&nbsp;</div>
</div>