<div id="wrapper">
  <div id="header-wrapper">
      <!-- header -->
      <div id="header">
        <app-header></app-header>
          <div id="logo">
              <h1><a href="#">oauth2 Project</a></h1>
              <p>Application using JWT and OAuth2</p>
          </div>
      </div>
  </div>

	<div id="menu">
  		<app-menu></app-menu>
	</div>
  <div id="page">
      <br/>
      <router-outlet></router-outlet>
      <br/>
  </div>
</div>
<div id="footer">
      <!-- footer -->
      <app-footer></app-footer>
</div>


