<div id="wrapper">
  <div id="header-wrapper">
      <div id="header">
          <div style="text-align:right; padding: 5px">
            <a *ngIf="!authService.isLoggedIn()" href="http://localhost:9000/login">Log In</a>
            <a *ngIf="authService.isLoggedIn()" (click)="authService.logout()">Log Out</a>
          </div>
          <div id="logo">
              <h1><a href="#">oauth2 Project</a></h1>
              <p>Application using JWT and OAuth2</p>
          </div>
      </div>
  </div>
	<div id="menu">
  		<ul>
          <li><a routerLink="/">Home</a></li>
          <li> <a routerLink="/customers">Customers</a></li>
        </ul>
	</div>
  <div id="page">
          <br/>
          <router-outlet></router-outlet>
          <br/>
  </div>
</div>
<div id="footer">
  <p>Stylesheet Design by <a href="http://www.freecsstemplates.org/">CSS Templates</a>.</p>
</div>


