<div id="page-bgtop">

    <app-sidebar></app-sidebar>

    <div id="page-bgbtm">
        <div id="content">
            <h2>My Groups</h2>

            <div class="post">
                <ul>
                  <li *ngFor="let group of groups">
                    <a routerLink="/group/detail/{{group.uuid}}">
                      {{group.name}}
                    </a> 
                    - {{group.description}}
                  </li>
                </ul>


          </div>
      </div>
  </div>

  <div style="clear: both;">&nbsp;</div>
</div>