<span *ngIf="(user && user.alias)">
    <div id="sidebar">
        <ul>
            <li>
                <h2>About Me</h2>
                <ul>
                    <li><a routerLink="/my/profile">My Profile</a></li>
                    <li><a routerLink="/my/friends">My Friends</a></li>
                    <li><a routerLink="/my/groups">My Groups</a></li>
                    <li><a routerLink="/my/preferences">My Preferences</a></li>
                </ul>
            </li>
        </ul>
    </div>
</span>
