<div id="page-bgtop">

    <app-sidebar></app-sidebar>

    <div id="page-bgbtm">
        <div id="content">
            <h2>My Profile:</h2>

            <div class="post">

            <span *ngIf="userProfile">
                <span>alias: </span>{{userProfile.alias}}<br/>
                <span>First Name: </span>{{userProfile.first_name}}<br/>
                <span>Last Name: </span>{{userProfile.last_name}}<br/>
            </span>


          </div>
      </div>
  </div>

  <div style="clear: both;">&nbsp;</div>
</div>
  