<div id="page-bgtop">

    <app-sidebar></app-sidebar>

    <div id="page-bgbtm">
        <div id="content">
            <div class="post">

    <span *ngIf="userProfile">
      <h2>My Profile:</h2><br/>
      <span>user_uuid: </span>{{userProfile.user_uuid}}<br/>
      <span>alias: </span>{{userProfile.alias}}<br/>
      <span>username: </span>{{userProfile.username}}<br/>
      <span>First Name: </span>{{userProfile.first_name}}<br/>
      <span>Last Name: </span>{{userProfile.last_name}}<br/>
    </span>


          </div>
      </div>
  </div>

  <div style="clear: both;">&nbsp;</div>
</div>
  